footer {
  background:@color-4;
  border-top:3px solid @color-5;
  position:relative;
  overflow: hidden;
  .grid {
    .px2em(~"padding",0);
  }
  a {
    .transition(all .3s linear);
    &:hover {
      color:@color-1;
    }
  }
  .title-nav, .nav-link{
    .px2em(~"padding", 20px);
  }
  .title-nav, .title-nav a {
    &:hover {
      color:@color-1;
    }
  }
  .title-nav {
    color:@color-2;
    font-family: @itcfrank-demi;
    text-transform: @text-uppercase;
    .px2em(~"letter-spacing", 1px);
    cursor: pointer;
    border-top:1px solid @color-7;
    position:relative;
    .transition(all .3s linear);
    a {
      color:@color-2;
    }
    .fa-angle-down {
      color:@color-8;
      .px2em(~"font-size", 30px);
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &.opened {
      .fa-angle-down {
        color:@color-2;
        &:before {
          content:"\f106";
        }
      }
    }
  }
  .nav-link {
    background:@color-6;
    li {
      .px2em(~"margin", 25px 0 0);
      &:first-child {
        .px2em(~"margin",0);
      }
    }
    a {
      color:@color-3;
      text-transform: @text-capitalize;
      &:hover {
        color:@color-1;
      }
    }
  }
  .social {
    .px2em(~"padding", 0 20px 15px);
    li {
      display:@inline-block;
      .px2em(~"margin", 0 25px 0 0);
    }
    i {
      color:@color-2;
      .px2em(~"font-size",22px);
      .transition(all .3s linear);
      &:hover {
        color:@color-1;
      }
    }
  }
  .link-copyright {
    .px2em(~"font-size",11px);
    .px2em(~"padding", 0 25px);
    .list-link, .copy-right {
      text-transform: @text-capitalize;
    }
    .list-link {
      .px2em(~"margin", 0 0 5px);
      .clearfix();
      li {
        border-left:1px solid @color-8;
        .px2em(~"margin",0 5px);
        .px2em(~"padding",0 0 0 10px);
        float:@float-left;
        &:first-child {
          border-left:0;
          .px2em(~"margin", 0);
          .px2em(~"padding", 0);
        }
      }
    }
  }
  .bgd-footer {
    text-align: @text-right;
    line-height: 0;
    .px2em(~"margin", 5px 0 0 );
  }
}

@media only screen and (min-width: @screen-sm-min) {
  footer {
    .px2em(~"padding",20px 0 0 );
    .grid {
      .px2em(~"padding",0 15px);
    }
    .block-nav{
      .px2em(~"margin",0 0 30px);
      .clearfix();
      .nav-box {
        width:16%;
        float:@float-left;
      }
      .nav-box-right {
        width:36%;
        float:@float-right;
      }
    }
    .title-nav, .nav-link2 {
      .px2em(~"padding",15px 20px);
    }
    .nav-link2, .social {
      text-align: @text-right;
    }
    .title-nav {
      .px2em(~"font-size",12px);
      cursor: default;
      border-top:0;
      &:hover {
        color:@color-3;
      }
      i.fa {
        display:@none;
      }
    }
    .nav-link {
      background:none;
      display:@block;
      .px2em(~"padding",0 18px);
      li {
        .px2em(~"font-size",12px);
        .px2em(~"margin",10px 0);
      }
    }
    .nav-link2 {
      li {
        border-left:1px solid @color-8;
        .px2em(~"padding",0 0 0 10px);
        .px2em(~"margin",0 0 0 5px);
        display: @inline-block;
        &:first-child {
          border-left:0;
        }
      }
    }
    .social {
      li {
        .px2em(~"margin",0 0 0 20px);
      }
    }
    .link-copyright {
      .clearfix();
      .list-link, .copy-right {
        float:@float-left;
      }
      .list-link {
        li, li:first-child {
          border-left:0;
          border-right:1px solid @color-8;
          .px2em(~"margin", 0 15px 0 0);
          .px2em(~"padding", 0 10px 0 0);
        }
      }
    }
    .bgd-footer {
      .px2em(~"padding", 0 10px 0 0 );
    }
  }
}
@media only screen and (min-width: @screen-md-min) {
  footer {
    .block-nav{
      .px2em(~"margin",0 0 30px);
      .clearfix();
      .nav-box {
        width:17%;
        float:@float-left;
      }
      .nav-box-right {
        width:32%;
        float:@float-right;
      }
    }
    .title-nav,
    .nav-link li,
    .link-copyright {
      .px2em(~"font-size",14px);
    }
    .nav-link, .link-copyright {
      .px2em(~"padding",0 20px);
    }
    .link-copyright {
      color:@color-3;
      .list-link {
        a {
          color:@color-3;
          &:hover {
            color:@color-1;
          }
        }
      }
    }
  }
}
