header {
  position: relative;
  z-index: 99;
  font-family: @itcfrank-med;
  border-bottom:1px solid @color-6;
  .px2em(~"padding",15px 0);
  .logo {
    display: @block;
    float:@float-left;
  }
  .img-cricle {
    .size(20px, 20px);
    .borde-radius(50%);
  }
  .active > a {
    color:@color-1;
  }
  ul {
    a {
      display:@block;
      line-height: 20px;
      .transition(all 0.2s linear);
      &:hover {
        color:@color-1;
      }
    }
  }
  .inner-header {
    display:@none;
    position:absolute;
    top:75px;
    right:0;
    z-index: 9;
    width:95%;
    .box-shadow(-1px 2px 5px @color-8);
    .transition(all 0.5s ease);
  }
  .btn-burger {
    display: @block;
    position: absolute;
    top: 50%;
    right: 10px;
    background:url(../images/icon-burger.png) no-repeat center center;
    .transform(translate(0,-50%));
    .size(30px);
  }
  .info-detail {
    background:@color-white;
    >li {
      border-top:1px solid @color-9;
      .px2em(~"padding",20px);
      img {
        vertical-align: middle;
        .px2em(~"margin", 0 10px 0 0);
        float:@float-left;
      }
    }
    .lang {
      position:relative;
      >a, .name {
        display: @inline-block;
      }
      .name {
        .px2em(~"margin",1px 5px 0 0);
      }
    }
    .select-lang {
      background:@color-9;
      position:absolute;
      top:45px;
      left:20px;
      li {
        border-top:1px solid @color-7;
        .px2em(~"padding", 5px 10px);
        .clearfix();
        &:first-child {
          border-top:0;
        }
      }
    }
    .user {
      .img-cricle {
        border:1px solid @color-7;
      }
    }
    .weather {
      span {
        display: @inline-block;
        .px2em(~"margin",2px 0 0);
      }
    }
  }
  .main-menu {
    background:@color-9;
    ul {
      li {
        text-transform: @text-capitalize;
        border-top:1px solid @color-10;

      }
      a {
        line-height: 50px;
        .px2em(~"padding",0 0 0 20px);
        &:hover {
          color:@color-1;
        }
      }
    }
    .sub-menu {
      display: @none;
    }
    .sub-menu-1 {
      >li {
        >a {
          color:@color-3;
        }
      }
    }
  }
}

@media only screen and (min-width: @screen-sm-min) {
  header {
    .px2em(~"font-size",12px);
    .logo {
      width: 18%;
    }
    .inner-header, .info-detail {
      float:@float-right;
    }
    .inner-header {
      display:block;
      position: static;
      width:82%;
      .clearfix();
      .px2em(~"margin",12px 0 0 0);
      .box-shadow(none);
    }
    .info-detail {
      .clearfix();
      width:38%;
      >li {
        border-top:0;
        border-left:1px solid @color-6;
        .px2em(~"padding",0 0 0 5px);
        .px2em(~"margin",0 0 0 6px);
        float:@float-left;
        &:first-child {
          .px2em(~"margin",0);
          border-left:0;
        }
      }
      .search {
        .px2em(~"padding",3px 0 0);
      }
      .select-lang {
        top:25px;
        left:0;
        width: 100%;
        li {
          .px2em(~"padding", 5px);
        }
      }
      .weather {
        span {
          .px2em(~"margin",3px 0 0);
        }
      }
    }
    .main-menu {
      background:none;
      width:62%;
      .px2em(~"padding",0 0 0 5px);
      float:@float-left;
      ul {
        .clearfix();
        >li {
          position:relative;
          border-top:0;
          .px2em(~"margin",0 10px);
          float:@float-left;
          a {
            line-height: 20px;
            .px2em(~"padding",0);
          }
          &:hover >.sub-menu{
            display: @block;
          }
        }
      }
      .sub-menu {
        background: @color-9;
        position: absolute;
        top: 20px;
        left: 0;
        width: 150px;
        li {
          width:100%;
          border-top:1px solid @color-10;
          .px2em(~"margin",0);
          .px2em(~"padding",10px 20px);
          &:first-child {
            border-top: 0;
          }
          &:hover > .sub-menu{
            left: 150px;
            top: 0;
          }
        }
        a {
          &:hover {
            color:@color-1;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: @screen-md-min) {
  header {
    .px2em(~"font-size",14px);
    .info-detail {
      width:35%;
      >li {
        .px2em(~"padding",0 0 0 8px);
        .px2em(~"margin",0 0 0 10px);
      }
    }
    .main-menu {
      width:65%;
    }
  }
}
@media only screen and (min-width: @screen-lg-min) {
  header {
    .logo {
      width: 15%;
    }
    .inner-header {
      width:85%;
    }
    .info-detail {
      width:28%;
    }
    .main-menu {
      width:72%;
      ul {
        >li {
          .px2em(~"margin",0 15px);
        }
      }
    }
  }
}
