// Section Banner - Index
.banner{
  position: relative;
    .caption{
      color: #fff;
      font-size: 100%;
      position: relative;
      background: #19516C;
      left: 0;
      top: -2px;
      width: 100%;
      padding: 5px 20px 10px;
      h3{
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.3em;
        font-family: @itcfrank-book;
      }
      h2{
        font-size: 2em;
      }
    }
}
// Section Projects - Index
.projects{
  margin: 30px auto;
  max-width: 1140px;
  overflow: hidden;
  li{
    margin-bottom: 20px;
    float: left;
    padding: 0 20px;
    h2{
      a{
        color: #333;
        font-size: 17px;
        padding: 10px 0;
        display: block;
        font-family: @itcfrank-med;
      }
      a:hover{
        color: #E62F46!important;
      }
    }
    h3{
      color: @color;
      font-size: 15px;
    }
    .img-box{
      overflow: hidden;
      position: relative;
      img{
        width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        border-radius: 10px;
        behavior: url('PIE.htc');
      }
    }
    .img-box:hover img{
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
}
//Contact
.page{
  padding: 30px 15px 0;
  h1{
    color: #19516C;
    font-size: 2em;
    padding-bottom: 30px;
  }
  a{
    color: #0D79A0;
  }
  a:hover{
    color: #E62F46;
  }
}
.right-sidebar{
  display: none;
}
.form{
  font-size: 14px;
  width: 100%;
  padding: 0;
  line-height: 20px;
  label{
    width: 100%;
    padding-bottom: 15px;
    display: inline-block;
  }
  .label-radio{
    width: 25%;
    top: -7px;
    position: relative;
  }
  .require{
     padding: 20px 0;
  }
  .input,
  .message{
    border-radius: 30px;
    border: solid 1px #D0D0D0;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    color: #333;
    font-size: 16px;
    width: 100%;
  }
  input,
  .input,
  .message{
    margin-bottom: 20px;
  }
  .country,
  .area-code{
    width: 49%;
    padding: 0 13px;
  }
  .phone-number{
    width: 100%;
  }
  .message{
    top: 10px;
  }
  .message{
    margin-bottom: 20px;
    .size(100%,90px);
  }
  input[type='radio']{
    border-radius: 23px;
    width: 23px;
    height: 23px;
    border: solid 1px #D0D0D0;
    display: inline-block;
  }
  input[type='radio']:not(old):checked{
    border: solid 1px #49DA64!important;
    background: url('../images/checked.png')no-repeat center;
  }
  .btn-submit{
    color: #fff;
    font-family: @itcfrank-demi;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 11px;
    line-height: 45px;
    text-align: center;

    height: 45px;
    padding: 0 40px;
    float: right;
    border: none;
    background: #EAEBEC;
    border-radius: 30px;
  }
  .btn-submit:hover{
    background: #19516C;
  }
}
// Media Queries
@media only screen and (min-width : @screen-sm) {
  .banner{
    position: relative;
      .caption{
        position: absolute;
        top: 30%;
        left: 5%;
        font-family: @itcfrank-demi;
        width: 315px;
        font-size: 100%;
        background: transparent;
        h3{
          font-size: 13px;
          letter-spacing: 0.5em;
          line-height: 22px;
        }
        h2{
          font-size: 5em;
        }
      }
  }
  .projects{
    margin: 50px auto;
    ul{
      overflow: hidden;
      li{
        margin-bottom: 50px;
        width: 33.33333333%;
        float: left;
        padding: 0 20px;
        h2{
          a{
            padding: 30px 0 15px;
          }
        }
      }
      li:nth-child(3n+1) {
        clear: left;
      }
    }
  }
  .page{
    max-width: 960px;
    padding: 30px 20px 0;
    margin: 0 auto;
    h1{
      font-size: 2.5em;
    }
  }
  .right-sidebar{
    display: block;
    background: #f8f8f8;
    float: left;
    width: 28%;
    line-height: 20px;
    p{
      padding: 10px 20px;
      .telephone{
        padding-top: 0!important;
      }
    }
    .break{
      background: #ebebec;
      height: 1px;
    }
    .info-contact{
      padding: 10px 20px;
      h3{
        font-size: 14px;
        color: #333;
      }
      .fa{
        color: #bcbcbc;
        position: relative;
        top: 2px;
        padding-right: 10px;
      }
      .fa-chevron-right{
          font-size: 11px;
          top: 0;
        }
      a{
        display: inline-block;
        padding-bottom: 15px;
      }
    }
  }
  .form{
    float: left;
    width:70%;
    padding-right: 5%;
    font-size: 16px;
    .require{
      padding: 20px 0 50px;
    }
    label{
      width: 25%;
      float: left;
      padding-top: 10px;
    }
    .o-label{
        padding-top: 65px;
      }
    .label-radio-gr{
      padding-top: 5px
    }
    .label-radio{
        position: relative;
        top: -26px;
        float: none;
      }
    .are-you{
      float: none;
      margin-right: 15px;
      margin-left: 3px;
    }
    .input,
    .message,
    input{
      margin-bottom: 60px;
    }
    .input,
    .message{
      width: 75%;
      padding: 0 30px;
    }
    .message{
      height: 150px;
      line-height: 20px;
      padding-top: 20px;
    }
    .country{
        width: 20%;
      }
    .area-code{
      width: 16%;
    }
    .phone-number{
        width: 37%;
        padding: 0 20px;
    }
  }
}
