// Sprite
.wi-icon {}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-angle-down:before {
  content:"\f107";
}
.fa-envelope-o:before{
  content:"\f003";
}
.fa-download:before{
  content:"\f019";
}
.fa-chevron-right:before{
  content:"\f054";
}
.fa-drop-down:before {
  content: "\f0d7";
}
