// Typography
@font-family-sans-serif: Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: @itcfrank-book;
@font-size-base: 14px;
// font-face
@itcfrank-book: "ITCFranklinGothicStd-Book";
@itcfrank-demi: "ITCFranklinGothicStd-Demi";
@itcfrank-med: "ITCFranklinGothicStd-Med";
@text-capitalize: capitalize;
@text-uppercase: uppercase;
@text-right: right;
// display
@block: block;
@none: none;
@inline: inline;
@inline-block: inline-block;
@float-left: left;
@float-right: right;
// Color
@color: #666666;
@bgcolor: #fff;
@text-color: @color;
@placeholder-color: @color;
@color-black: #000;
@color-white: #fff;
@color-1: #fe000c;
@color-2: #13455b;
@color-3: #184f58;
@color-4: #f2f2f2;
@color-5: #e42f46;
@color-6: #e7e7e8;
@color-7: #dedede;
@color-8: #b2b2b2;
@color-9: #f6f6f6;
@color-10: #ededed;
// Link
@link-color: @color;
@link-hover-color: darken(@link-color, 15%);
@link-active-color: darken(@link-color, 10%);
@link-visited-color: darken(@link-color, 5%);
// Grid System
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@grid-columns: 12;
@grid-gutter-width: 30px;
@grid-float-breakpoint: @screen-sm-min;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
@grid-tablet: (720px + @grid-gutter-width);
@grid-sm: @grid-tablet;
@grid-desktop: (940px + @grid-gutter-width);
@grid-md: @grid-desktop;
@grid-large-desktop: (1140px + @grid-gutter-width);
@grid-lg: @grid-large-desktop;
