.clear
footer
  .grid
    .block-nav
      .nav-box
        h4.title-nav motorists
          i.fa.fa-angle-down
        +nav([{title:"Products &amp; services"}, {title:"Cards"}, {title:"Promotions"}, {title:"Tools &amp; utilities"}]).nav-link.hidden-xs
      .nav-box
        h4.title-nav business
          i.fa.fa-angle-down
        +nav([{title:"Commercial &amp; Industrial"}, {title:"Aviation"}, {title:"Asphalt"}, {title:"StarCard for Fleets"}]).nav-link.hidden-xs
      .nav-box
        h4.title-nav rewards
          i.fa.fa-angle-down
        +nav([{title:"F&amp;B"}, {title:"Cards"}, {title:"Shopping"}, {title:"Household"}, {title:"Entertainment"}, {title:"Travel &amp; leisure"}, {title:"Others"}]).nav-link.hidden-xs
      .nav-box
        h4.title-nav about us
          i.fa.fa-angle-down
        +nav([{title:"Who we are"}, {title:"News"}, {title:"Community"}]).nav-link.hidden-xs
      .nav-box-right
        ul.nav-link2
          li.title-nav: +link("Find station")
          li.title-nav: +link("Contact")
        ul.social
          li: +link("facebook","https://www.facebook.com/")
            i.fa.fa-facebook
          li: +link("twitter","https://twitter.com/")
            i.fa.fa-twitter
          li: +link("youtbe","https://www.youtube.com/")
            i.fa.fa-youtube-play
    .link-copyright
      ul.list-link.hidden-sm-up
        li: +link("Chevron")
        li: +link("Terms of use")
        li: +link("Privacy")
      ul.list-link.hidden-xs
        li: +link("Chevron corporation")
        li: +link("Terms of use")
        li: +link("Privacy statement")
      p.copy-right 2005-2015 chevron corporation. all rights reserved.
  .bgd-footer
    +img("./images/bgd-footer.png")
