include ../mixins/all

header
  .grid
    +link-img("./images/logo.png","Caltex").logo
    .outer-header
      a(href="#" title="Button").btn-burger.hidden-sm-up
      .inner-header
        ul.info-detail
          li.search.hidden-xs
            +link-img("./images/icon-search.png","javascript:;")
          li.lang
            +link("Language","javascript:;")
              +img("./images/icon-us.png").img-cricle
              span.name US
              i.fa.fa-drop-down
            ul.select-lang.hidden
              li
                +link("US","javascript:;")
                  +img("https://placeholdit.imgix.net/~text?txt&w=25&h=25").img-cricle
                  span.name US
              li
                +link("UK","javascript:;")
                  +img("https://placeholdit.imgix.net/~text?txt&w=25&h=25").img-cricle
                  span.name UK
              li
                +link("JP","javascript:;")
                  +img("https://placeholdit.imgix.net/~text?txt&w=25&h=25").img-cricle
                  span.name JP
          li.user
            +link("Login")
              +img("./images/icon-user.png").img-cricle
              span Login
          li.weather
            +img("./images/icon-weather.png")
            span 31°C
        nav.main-menu
          ul
            li
              +link("Motorists")
              ul.sub-menu.sub-menu-1
                li: +link("Menu level 2")
                li: +link("Menu level 2")
                li
                  +link("Menu level 2")
                  ul.sub-menu
                    li: +link("Menu level 3")
                    li: +link("Menu level 3")
                    li: +link("Menu level 3")
            li: +link("Business")
            li: +link("Rewards")
            li: +link("Find station")
            li: +link("Contact")


