mixin label(text, id)
  label(for=id)&attributes(attributes)= text

mixin input(type, name, placeholder, id)
  - if (typeof(id) === 'undefined') id = name
  input(type=type, name=name, placeholder=placeholder, id=id)&attributes(attributes)

mixin textarea(name, id, placeholder)
  textarea(name=name, id=id, placeholder=placeholder)&attributes(attributes)
