mixin link-img(src,alt,href)
  - if (typeof(src) === 'undefined') src = 'images/transparent.png'
  - if (typeof(alt) === 'undefined') alt = 'Caltex'
  - if (typeof(href) === 'undefined') href = '#'
  a(href=href, title=alt)&attributes(attributes)
    if block
      block
    else
      !=text
    img(src="#{src}", alt="#{alt}")
