mixin link(text, href, title)
  - if (typeof(title) === 'undefined') title = text
  - if (typeof(href) === 'undefined') href = '#'
  a(href=href, title=title)&attributes(attributes)
    if block
      block
    else
      !=text
