extends layouts/layout

block vars
  -title = 'Contact'

block container
  main.page
    h1 Contact us
    section.form
      p Before you proceed, please read our #{''}
       +link("infornation abou know fictitious offers, scams and inquirires.")
      p.require Please complete the fields marked with *.

      form(
        name='contact'
        id='contact'
        method='post'
        action='#'
      )
        .form-group
          +label("First Name*:", "first-name")
          +input("text", "first-name", "John").input.first-name
        .form-group
          +label("Last Name*:", "last-name")
          +input("text", "last-name", "Smith").input.last-name
        .form-group
          +label("Email Address*:", "email")
          +input("text", "email", "example@email.com").input.l-email
        .form-group
          +label("Phone Number:", "country")
          +input("text", "country", "Country Code").input.country
          +input("text", "area-code", "Area Code").input.area-code
          +input("text", "phone-number", "Number").input.phone-number
        .form-group
          +label("Message:", "message").o-label
          +textarea("message", "message", "").message
        .form-group
          +label("Are you a:").label-radio-gr
          +input("radio", "are-you", null, "motorist").are-you(value="motorist")
          +label("Motorist", "motorist").label-radio
          +input("radio", "are-you", null, "business").are-you(value="business")
          +label("Business", "business").label-radio
        .form-group
          +input("submit", "submit", null).btn-submit(title="Submit")

    aside.right-sidebar
      p Chevron Singapore Pte Ltd 30 Raffles Place, #21-01 Chevron House, Singapore 048622
      p.telephone
        span.bold Telephone #{''}
        +link("+65 63181000","tel:+65 63181000")
      .break
      .info-contact
        h3.title Media Contact
        a(href="mailto:pgpa.singapore@chevron.com", title="pgpa.singapore@chevron.com")
          i.fa.fa-envelope-o #{''}
          | pgpa.singapore@chevron.com

        h3.title Employment Opportunities
        a(href="#", title="Careers at Chevron")
          i.fa.fa-chevron-right #{''}
          | Careers at Chevron

        h3.title Read
        a(href="#", title="Download", target="_blank")
          i.fa.fa-download #{''}
          | Chevron Singapore's Commitment to data protection
