extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main
    section.banner
      +img("./images/banner.jpg","Traffice in Singapore")
      .caption
        h3 Motorits
        h2 Traffic in Singapore

    section.projects
        ul
          li
            .img-box
              +link-img("./images/caltexwish.jpg","AYE")
            h2
              +link("Marina Coastal Expressway (MCE)")
            h3 Light traffic
          li
            .img-box
              +link-img("./images/caltexwish.jpg","AYE")
            h2
              +link("Ayer Rajah Expressway (AYE)")
            h3 Heavy traffic
          li
            .img-box
              +link-img("./images/caltexwish.jpg","PIE")
            h2
              +link("Pan Island Expressway (PIE)")
            h3 Light traffic
          li
            .img-box
              +link-img("./images/caltexwish.jpg","KJE")
            h2
              +link("Kranji Expressway (KIE)")
            h3 Lgiht traffic
          li
            .img-box
              +link-img("./images/caltexwish.jpg","ECP")
            h2
              +link("East Coast Partway (ECP)")
            h3 Massive jam
          li
            .img-box
              +link-img("./images/caltexwish.jpg","BKE")
            h2
              +link("Bukit Timah Expressway (BKE)")
            h3 Accidentm avoid lane 1

